<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Relator Administration</title>
	</head>
	<body>
		<h4>Welcome. Please choose your administration type:</h4>
		<ul>
			<li><a href="/admin/basic/">Basic (Zones, Locations, Standards)</a></li>
			<li><a href="/admin/structures/">Structures</a></li>
			<li><a href="/admin/assemblies/">Assemblies</a></li>
			<li><a href="/admin/combined/">All normal data</a></li>
			<li><a href="/admin/types/">Data Types</a></li>
			<li><a href="/admin/advanced/">Advanced (All data)</a></li>
			<li><a href="/admin/management/">Website</a></li>
			<li><a href="/admin/istration/">Everything (Data and Website)</a></li>
		</ul>
	</body>
</html>
