<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Perform Calculations</title>
		{% block links %}
		<link type="text/css" rel="stylesheet" href="/media/css/base.css">
		<!-- Theme options:
			smoothness
			black-tie
			darkness
			le-frog
			start
			sunny
		-->
		<link type="text/css" rel="stylesheet" href="/media/css/smoothness/theme.css">
		<link type="text/css" rel="stylesheet" href="/media/css/table_jui.css">

		<script type="text/javascript" src="/media/js/jquery/min.js"></script>
		<script type="text/javascript" src="/media/js/jquery/validate/min.js"></script>
		<script type="text/javascript" src="/media/js/jquery/cookie.js"></script>
		<script type="text/javascript" src="/media/js/jquery/ui/min.js"></script>
		<script type="text/javascript" src="/media/js/jquery/table/min.js"></script>
		<script type="text/javascript" src="/media/js/table.js"></script>
		{% endblock %}
	</head>
	<body>
		<div id="container">
			{% block body %}
			{% endblock %}
		</div>
	</body>
</html>
